<div class="container">
  <ng-include src="'/views/navigation.html'"></ng-include>

  <h3>Boxers
    <small>This is the boxers view</small>
    <hr>
  </h3>

  <div class="form-group">
    <div class="btn-group">
      <a class="btn btn-default" href="#/boxers/registrations">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register Boxer</a>
      <a class="btn btn-default" ui-sref="boxer" href="#">New Register Boxer</a>
    </div>
    <a href="" data-ng-click="editBoxer({registration : ''})">Add</a>
  </div>

  <!-- Main listing -->
  <div class="panel panel-default">
    <div class="panel-heading">Boxers</div>
    <div class="panel-body">
      <div data-ui-view></div>
    </div>
    <table class="table table-hover">

      <thead>
      <tr>
        <th>#</th>
        <th>Reg</th>
        <th>Name</th>
        <th>Trainer</th>
        <th>Reg Date</th>
        <th>Club</th>
        <th>Fights</th>
        <th>Class</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <style>
        td:hover {
          cursor: pointer;
        }
      </style>
      <tr data-ng-repeat="boxer in boxers.listRegisteredBoxers() track by $index" data-ng-click="editBoxer(boxer)">
        <td>{{$index + 1}}</td>
        <td>{{boxer.registration.number}}</td>
        <td>{{boxer.firstName}} {{boxer.lastName}}</td>
        <td><a href="#">{{boxer.trainer.firstName}} {{boxer.trainer.lastName}}</a></td>
        <td>{{boxer.registration.date}}</td>
        <td>{{boxer.club.name}}</td>
        <td>
          <a href="#">Prev. 3</a>/<a href="#">Won 1</a>/<a href="#">Lost 2</a>
        </td>
        <td>{{boxer.class}}</td>
        <td>
          <a ng-click="editBoxer(boxer)">Edit</a>
          <a ng-click="removeBoxer(boxer)">Delete</a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

  <div data-ng-include src="'/views/footer.html'"></div>
</div>
