<nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">Boxing</a>
        <ul class="nav navbar-nav">

            <li class="active"><a href="#">Bouts</a></li>
            <li><a href="#">Fighters</a></li>
            <li><a href="#">Trainers</a></li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Booking</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Sign Up</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!--<div>-->


        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--boo-->
        <!--</div>-->

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email">
            <!--<input type="text" class="form-control" placeholder="Password">-->
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <!--<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>-->

    <!--</div>-->

</nav>

<p>This is the header view.  <a href="#/header">Header</a></p>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>

<!--<nav class="navbar navbar-default" role="navigation">-->
  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#">Brand</a>-->
    <!--</div>-->

    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="#">Link</a></li>-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->

      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->